.community {
  .content-container{
    .communityOuter{ padding-bottom: 5.875rem; margin-bottom: 3.3rem;
      img{ margin-bottom: 4.6rem;}
    }
    h3{color: #222328; font-size: 1.875rem; margin-top: 80px; margin-bottom: 0;}
    h4{font-size: 1.125rem; font-family: "Flama Basic";  font-weight: 500;  font-stretch: semi-condensed; color: #000000;  padding: 1rem 0; }
    .innerText p {
      font-size: 1.125rem; margin: 0 0 1rem 0; line-height: 28px;
    }
  }
}
